body{
	background: none;
	background-image: url('rain.png');
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:0;
	-webkit-animation: rain 3s linear infinite;
	-moz-animation: rain 3s linear infinite;
	-ms-animation: rain 3s linear infinite;
	animation: rain 3s linear infinite;
}

@keyframes rain {
  0% {background-position: 0px 0px;}
  100% {background-position: 0px 1000px;}
}
@-moz-keyframes rain {
  0% {background-position: 0px 0px}
  100% {background-position: 400px 1000px;}
}
@-webkit-keyframes rain {
  0% {background-position: 0px 0px}
  100% {background-position: 500px 1000px;}
}
@-ms-keyframes rain {
  0% {background-position: 0px 0px}
  100% {background-position: 500px 1000px;}
}	